.formContainer {
  display: flex;
  flex-wrap: wrap;
  margin-inline: 30px;
  gap: 30px;
}

.text__container {
  box-sizing: border-box;
  flex: 1;
  height: 800px;
  margin-inline: auto;
  margin-block: 80px;
  padding-block: 10px;
  padding-inline: 100px;
  box-shadow: 7px 7px 15px 0px #00000014;
  background-color: var(--lightgraybg);
  border-radius: 20px;
}

.title__text__field {
  font-weight: var(--normalheight);
}
