.text__container {
  box-sizing: border-box;
  width: 60%;
  height: 789px;
  margin-inline: auto;
  margin-block: 80px;
  padding-block: 10px;
  padding-inline: 100px;
  box-shadow: 7px 7px 15px 0px #00000014;
  background-color: var(--lightgraybg);
  border-radius: 20px;
}

.title__text__field {
 font-weight: var(--normalheight);
}

.input__container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 930px;
  height: 110px;
  margin-block: 30px;
}

.label__input {
  font-weight: var(--semibold);
  font-size: var(--normalsizefont);
}

.input__text {
  border: none;
  height: 80px;
  width: 100%;
  box-shadow: 10px 10px 30px 0px #0000000F;
  ;
}